@charset "UTF-8";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/planodefundo.jpg');
    background-size: 850px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: #3B3733;
    padding: 20px;
    border-radius: 12px;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 840px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: #009432;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px 26px;
    margin: 0 15px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #00000033;
}

table td img {
    height: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
}

.input-place {
    margin: 0 15px;
}

#espaco-lista {
    background-color: #D9C4BD;
    margin-bottom: 50px;
    padding: 5%;
    border-radius: 32px;
    border-color: #111;
    border: 2px solid;
}

.botao-vermelho {
    background-color: rgb(180, 43, 43);
}